// Components
// Variables


// Buttons
$btn-fs:            $fs-sm !default;
$btn-sm-fs:         $fs-xs !default;
$btn-padding-t:     0.7rem !default;
$btn-padding-x:     1.5rem !default;
$btn-padding-b:     0.7rem !default;
$btn-sm-padding-t:  0.4rem !default;
$btn-sm-padding-x:  0.75rem !default;
$btn-sm-padding-b:  0.4rem !default;

$card-height-sm:  250px !default;
$card-height-md:  350px !default;
$card-height-lg:  450px !default;
$card-height-xl:  550px !default;

// Cards
$tile_overlay_height: 250px !default;

// Component interior columns
%component-column {
  display: inline-flex;
  flex: 0 0 auto;

  &:first-child {
    text-align: left;
    padding-right: 1rem;
  }

  &:last-child {
    text-align: right;
    padding-left: 1rem;
  }

  &:only-child {
    text-align: left;
    padding-left: 0;
    padding-right: 0;
  }
}

// Block display
%block {
  display: block;
  width: 100%;
  text-align: center !important;
  border-radius: 0 !important;
}


// Inline SVG
%icon {
  position: relative;
  display: inline-block;
  line-height: 0;
  text-align: left;
  width: 2rem;
  height: 2rem;
}
