// Components
// Button


.btn {
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba($type-color, 0.5);
  color: $type-color;
  display: inline-flex;
  line-height: 1.3;
  font-size: $btn-fs;
  margin-bottom: 3px;
  padding: $btn-padding-t $btn-padding-x $btn-padding-b;
  cursor: pointer;
  overflow: hidden;
  transition: all $transition;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover {
    background-color: $gray-100;
    text-decoration: none;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.65;
  }

  // --
  // Icons

  // nested icon (defaults assume icon to the left)
  .feather,
  .icon {
    margin: 0 0.5rem 0 -0.5rem;
    height: $btn-fs;
    width: $btn-fs;
  }

  // adjust margin for positioning icon on the right
  &.\--right .feather { margin: 0 0 0 0.5rem; }

  // --
  // Sizing

  &.\--sm {
    padding: $btn-sm-padding-t $btn-sm-padding-x $btn-sm-padding-b;
    font-size: $btn-sm-fs;

    .feather {
      margin: 0 ($btn-sm-fs/2) 0 0;
      height: $btn-sm-fs;
      width: $btn-sm-fs;
    }

    &.\--right .feather { margin: 0 0 0 ($btn-sm-fs/2); }
  }

  // --
  // Modifiers

  // extends button to fill area of container
  &.\--block {
    display: block;
    width: 100%;
    text-align: center;
    white-space: initial;
  }

  // Stacked icon
  &[class^='flex--col'],
  &[class*=' flex--col'] {
    text-align: center;

    .__icon {
      margin-left: auto;
      margin-right: auto;
    }
  }

  // Marketing button
  &.\--m {
    @extend .fw--700;
    padding: $btn-padding-t 0 0.25rem;
    border: 0 none;
    color: inherit;
    border-bottom: 2px solid transparent;
    border-bottom-color: $red;

    &:hover {
      border-bottom-color: rgba($gray, 0.7);
      background: none;
    }
  }
}

// --
// Wrappers

// groups a set of buttons to appear flush together
.btn__group {
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;

  .btn {
    border-radius: 0;
    margin-right: -1px;

    &:last-child { margin-right: 0; }
  }
}
