// Components
// Carousel

@import '~formstone/dist/css/carousel';

.fs-carousel {
  &-contained,
  &-viewport { overflow: visible !important; }

  &-wrapper { overflow: hidden; }

  &-pagination {
    text-align: center;
    padding: 0.25rem 0;
  }

  &-page {
    @extend .br--round;

    margin: 0 3px;
    width: 0.75rem;
    height: 0.75rem;
    overflow: hidden;
    text-indent: 200%;
    white-space: nowrap;
    line-height: 0;
    background: $gray-300;

    &.fs-carousel-active { background: $black; }
  }

  &-controls {
    @extend .pin;
  }

  &-item {
    padding: 1rem;

    p,
    ol,
    ul {
      &:last-child {
        margin-bottom: 0;
      }
    }

    @include mqbp-up(d) {
      padding: 1.5rem;
    }
  }

  &-control {
    position: absolute;
    bottom: -1.75rem;
    text-indent: -9999px;
    font-size: 1.25rem;

    &:before {
      font-family: "feathericons";
      font-weight: normal;
      text-indent: 0;
      position: absolute;
    }
  }

  &-control_previous {
    left: 0;

    &:before {
      left: 0;
      content: "\e921";
    }
  }

  &-control_next {
    right: 0;

    &:before {
      right: 0;
      content: "\e922";
    }
  }
}
