// Components
// Loader


.load,
.loaded { display: none; }

.spinner {
  width: 2rem;
  height: 2rem;
  overflow: visible;
  animation: spin 2s infinite linear;
}

@keyframes spin {
  0% { transform: rotate(0deg) scale(1); }
  50% { transform: rotate(180deg) scale(0.85); }
  100% { transform: rotate(359deg) scale(1); }
}
