// Components
// Nav


.nav {
  .__list {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;

    @include mqbp-up(t) {
      visibility: visible;
      background-color: transparent;
      height: auto;
    }
  }

  .__link {
    position: relative;
    display: block;
    padding: 1rem 0.5rem;
    line-height: 1rem;
    color: $gray-700;
    transition: background-color 0.15s ease;

    &:hover {
      background-color: rgba($gray-200, 0.3);
      text-decoration: none;
      color: inherit;
    }
  }

  .__item {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding-top: 0;

    .__list {
      padding: 0;

      .__link {
        padding: 0.75rem 0.75rem 0.75rem 1.5rem; // judicious tap zone
        border-bottom: none;
        color: $gray-500;
      }

      .\--active > .__link {
        font-weight: 700;
        color: $gray-900;
      }
    }

    &.\--active {
      > .__link {
        font-weight: 700;
        color: $gray-900;
        cursor: default;

        &:hover {
          background-color: inherit;
        }
      }

      &.\+children {
        > .__link {
          padding-bottom: 0.5rem;
        }
      }
    }

    &.\--title {
      display: flex;
      flex: 1;

      .__link {
        @extend .tt--caps;
        display: inline-flex;
        flex: 1;
        align-items: center;
        color: inherit;
        font-size: $fs-xs;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;

        svg {
          margin-right: 0.5rem;
          flex: 0 0 auto;
          width: 1rem;
          height: 1rem;
        }
      }

      &.\--active {
        display: none;

        +.__item { border-top: 1px solid $gray-200; }
      }
    }
  }
}

// --
// Nav Options

.nav.\--interior {
  display: none;

  .__list {
    margin-bottom: 0;
    flex-basis: 100%;
    transition: all 0.05s ease-in;
  }

  .__item {
    font-size: $fs-sm;

    .__list { margin-bottom: 0.5rem; }

    .__item {
      border-bottom: 0 none;
      font-size: ($fs-sm * 0.9);
    }
  }

  @include mqbp-up(t) {
    display: flex !important;

    .__list {
      .__list {
        .__link {
          position: relative;
          padding: 0.4rem 0.75rem 0.4rem 1.5rem;

          &::before {
            content: "";
            position: absolute;
            display: block;
            width: 10px;
            height: 1px;
            background-color: rgba($gray-900, 0.3);
            top: 0.9rem;
            left: 0.5rem;
          }
        }

        .\--active .__link {
          &::before {
            background-color: rgba($gray-900, 0.8);
          }
        }
      }
    }

    &.\--active { display: flex; }
  }

  .\+children {
    > .__link {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
    }

    .\+children {
      margin-bottom: 0;

      > .__list {
        display: none;
        padding-left: 1rem;
      }

      &.\--active {
        > .__list { display: flex; }
      }
    }
  }
}

.nav.\--tabbed {
  border-bottom: 1px solid $gray-200;

  .__list { margin-bottom: 0; }

  .__link {
    white-space: nowrap;
    color: $gray;

    &:hover { background-color: $gray-100; }

    &.\--active,
    &.\--active:hover {
      color: inherit;
      cursor: default;
    }

    &.\--active:hover {
      background-color: inherit;
    }
  }

  @include mqbp-up(d) {
    .__list { flex-direction: row; }

    .__link {
      padding: 1rem 1.5rem;
      border-bottom: 3px solid transparent;
      transition: border-bottom 0.25s ease;
    }

    .__item {
      border-bottom: 0 none;

      .\--active,
      .\--active:hover {
        border-left: 0 none;
        border-bottom: 3px solid $red;
      }
    }
  }
}

.nav.\--bordered {
  @include mqbp-up(d) {
    border-bottom: 0 none;

    .__list { border-bottom: 1px solid $gray-200; }

    .__item { margin-bottom: -2px; }

    .__link {
      border-radius: 1px 1px 0 0;
      border: 1px solid transparent;
      border-bottom: 1px solid $gray-200;
      font-size: $fs-sm;
      transition: all 0.2s ease;
      margin-bottom: 1px;

      &:hover { background-color: rgba(0, 0, 0, 0.1); }

      &.\--active,
      &.\--active:hover {
        border: 1px solid #d0d0d0;
        border-bottom-color: #fff;
      }
    }
  }
}

.nav.\--buttons {
  border-bottom: 0 none;

  .__item {
    margin-bottom: 0.5rem;
    border-bottom: 0 none;
    &:last-child { margin-bottom: 0; }

    @include mqbp-up(d) {
      margin-bottom: 0;
      margin-right: 1rem;
      &:last-child { margin-right: 0; }
    }
  }

  .__link {
    border: 1px solid $gray-200;
    padding: 1rem;
    position: relative;

    @include mqbp-up(d) {
      padding: 8px 1rem;

      &.\--active,
      &.\--active:hover {
        border: 1px solid $gray-400;
      }
    }
  }
}

.nav.\--pagination {
  .__list {
    padding-left: 0;
    list-style: none;
    flex-direction: row;
    justify-content: center;
  }

  .__item {
    border-bottom: 0 none;
    margin-right: 1px;
    margin-left: 1px;
  }

  .__link {
    display: block;
    width: 1.75rem;
    height: 1.75rem;
    line-height: 1.75rem;
    background: none;
    text-align: center;
    font-size: 0.875rem;
    color: $type-color;
    border-radius: 2rem;
    padding: 0;
    border: 0 none;
    font-weight: initial;

    &:hover { background-color: rgba(0, 0, 0, 0.1); }

    &.\--active,
    &.\--active:hover {
      background-color: $type-color;
      color: #fff;
      cursor: default;
    }

    .feather {
      margin-top: 1px;
      stroke-width: 1;

      @include mqbp-up(t) {
        margin-top: 2px;
      }

      @include mqbp-up(w) {
        margin-top: 3px;
      }
    }
  }
}

// --
// Nav Wrappers

.nav__content {
  .hidden.\--active { display: block !important; }

  .\--bordered {
    padding: 1rem 1.5rem;
    border: 1px solid $gray-200;
    border-top: 0 none;
  }
}

// --
// Banner option

.\+nav .\--tabbed {
  overflow: auto;
  position: absolute;
  bottom: -1px; // because of border-bottom on bottom
  left: 0;
  right: 0;
  align-self: flex-start;

  .__list { flex-direction: row; }

  .__item {
    font-size: $fs-xs;
    border-bottom: 0 none;
    background-color: rgba(255, 255, 255, 0.6);
    margin-right: 1px;
  }

  .__link {
    padding: 1rem 1.5rem;
    margin-bottom: 0;
    border-bottom: 0 none !important;
    background-color: rgba(255, 255, 255, 0.7);
    color: $type-color;
    text-shadow: none;
    transition: background-color 0.2s ease;

    &:hover { color: $type-color; }

    &.\--active,
    &.\--active:hover {
      background-color: rgba(255, 255, 255, 1);
      color: $type-color;
    }
  }

  .\--title {
    .__link { background-color: transparent !important; }

    &.\--active {
      +.__item { border-top: 0 none; }
    }
  }

  @include mqbp-up(t) {
    max-width: 94%;
    right: auto;
    left: auto;

    .__item { font-size: $fs-sm; }
    .__link { padding: 0.75rem 1.5rem; }
  }

  @include mqbp-up(d) {
    .__link {  }

    .\--active {
      .__link { background-color: $white; }

      &.\+children > .__link { padding-bottom: 0.75rem; }
    }
  }

  .\+children .__list {
    display: none !important;
  }
}
