// Borders Utility
// Radius
//
// .br<loc>--<value>


.br,
.bra   { border-radius: $border-radius; }
.brtl  { border-top-left-radius: $border-radius; }
.brtr  { border-top-right-radius: $border-radius; }
.brbl  { border-bottom-left-radius: $border-radius; }
.brbr  { border-bottom-right-radius: $border-radius; }

.br--0,
.bra--0   { border-radius: 0 }
.brtl--0  { border-top-left-radius: 0; }
.brtr--0  { border-top-right-radius: 0; }
.brbl--0  { border-bottom-left-radius: 0; }
.brbr--0  { border-bottom-right-radius: 0; }

.br--pill,
.br--round,
.br--circle { border-radius: 9999px; }
