// Borders Utility
// Style
//
// .bs--<style>


.bs--none    { border-style: none; }
.bs--solid   { border-style: solid; }
.bs--dashed  { border-style: dashed; }
.bs--dotted  { border-style: dotted; }
