// Layout Utility
// Floats
//
// .fl--<value>


.f--none { float: none !important; }
.f--l { float: left !important; }
.f--r { float: right !important; }

@each $breakpoint in map-keys($breakpoints) {
  @include mqbp-up($breakpoint) {
    .f--none\@#{$breakpoint} { float: none !important; }
    .f--l\@#{$breakpoint} { float: left !important; }
    .f--r\@#{$breakpoint} { float: right !important; }
  }
}
