// Layout Utility
// Visibility
//
// .<property>--<value>


.visible { visibility: visible; }
.invisible { visibility: hidden; }

.hidden { display: none !important; }

@each $breakpoint in map-keys($breakpoints) {
  .hidden--up\@#{$breakpoint} {
    @include mqbp-up($breakpoint) {
      display: none !important;
    }
  }

  .hidden--down\@#{$breakpoint} {
    @include mqbp-down($breakpoint) {
      display: none !important;
    }
  }
}
