// NU Marketing Elements
// Global Header & Footer


// PODS overrides
div#nu__globalheader {
  @include make-section();

  padding-top: 0 !important;
  padding-bottom: 0 !important;
  font-family: $type-sans;
  line-height: 28px;
  font-weight: 300;
  letter-spacing: 0;
  margin: 0;
  width: 100%;
  z-index: 0;
  position: static;
}

.full div#nu__globalheader {
  @include make-section('full');
}

.contain div#nu__globalheader {
  @include make-section('contain', $contain: $contain-width);
}

.contain.\--body div#nu__globalheader {
  @include make-section();
}

div#nu__utility-nav { width: 100%; }

div#nu__utility-nav > a {
  display: inline-block;
  overflow: hidden;
  height: 44px;

  > img {
    height: 44px;
  }
}
