// Backgrounds Utility
// Attachment
//
// .bg--<attachment>


.bg--fixed   { background-attachment: fixed; }
.bg--local   { background-attachment: local; }
.bg--scroll  { background-attachment: scroll; }
