// Backgrounds Utility
// Position
//
// .bg--<position>


.bg--lt { background-position: left top; }
.bg--l  { background-position: left center; }
.bg--lb { background-position: left bottom; }
.bg--rt { background-position: right top; }
.bg--r  { background-position: right center; }
.bg--rb { background-position: right bottom; }
.bg--t  { background-position: center top; }
.bg--b  { background-position: center bottom; }
