// Flexbox Utility
// Order
//
// .order--<order>@<bp>


$order: 0;
@while $order < 9 {
  .order--#{$order}   { order: #{$order}; }
  $order: $order + 1;
}

@each $breakpoint in map-keys($breakpoints) {
  @include mqbp-up($breakpoint) {
    $order: 0;
    @while $order < 9 {
      .order--#{$order}\@#{$breakpoint}   { order: #{$order}; }
      $order: $order + 1;
    }
  }
}
