// Misc Utility
// Aspect Ratios
//
// .ar--<something>


.ar {
  position: relative;

  &::after {
    content: '';
    display: block;
    height: 0;
  }
}

@each $ar-name, $ar-value in $aspect-ratios {
  .ar--#{$ar-name} {
    @extend .ar;

    &::after {
      padding-top: $ar-value;
    }
  }
}

// Aspect Ratios with breakpoint options
@each $breakpoint in map-keys($breakpoints) {
  @include mqbp-up($breakpoint) {
    @each $ar-name, $ar-value in $aspect-ratios {
      .ar--#{$ar-name}\@#{$breakpoint} {
        &::after {
          padding-top: $ar-value;
        }
      }
    }
  }
}

.ar--object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 100;
}
