// Global Variables
// Colors


$white:           #ffffff !default; // Marketing
$white-alpha:     rgba($white, 0.3) !default;
$black:           #000000 !default; // Marketing
$black-alpha:     rgba($black, 0.4) !default;
$gold:            #a4804a !default; // Marketing 2018-10-30
$gray:            #979797 !default; // Neutral gray
$gray-50:         #f7f7f7 !default; // Neutral gray
$gray-100:        #efefef !default; // Neutral gray
$gray-200:        #d0d0d0 !default; // Neutral gray
$gray-300:        #b5b5b5 !default; // Neutral gray
$gray-400:        $gray !default; // Neutral gray
$gray-500:        #767676 !default; // Neutral gray
$gray-600:        #666666 !default; // Neutral gray
$gray-700:        #5c5c5c !default; // Neutral gray
$gray-800:        #333333 !default; // Neutral gray
$gray-900:        #1a1a1a !default; // Neutral gray
$gray-cool:       #99a3b0 !default; // Marketing 2018-10-30
$gray-warm:       #a19994 !default; // Marketing 2018-10-30
$gray-warm-light: #cfc7bf !default; // Marketing 2018-10-30
$red:             #d41b2c !default; // Marketing 2018-10-30
$red-dark:        darken($red, 3%) !default;
$red-light:       lighten($red, 3%) !default;
$orange:          #ff854f !default; // Marketing 2018-10-30
$yellow:          #ffbf3d !default; // Marketing 2018-10-30
$green:           #badb00 !default; // Marketing 2018-10-30
$teal:            #00cfb5 !default; // Marketing 2018-10-30
$blue:            #006eb5 !default; // Marketing 2018-10-30
$blue-dark:       #385775 !default; // Marketing 2018-10-30
$blue-light:      #52cfe5 !default; // Marketing 2018-10-30
$purple:          #824091 !default;
$beige:           #ece6d5 !default; // Marketing 2019-01-03

// --
// Color palette collection

// ('label', $color, $light, $dark, $text);
$palette: (
  ('white', $white, rgba($white, 0.8), $gray-100, 'dark'),
  ('white-alpha', $white-alpha, rgba($white, 0.2), rgba($white, 0.5), 'light'),
  ('black', $black, #333333, #000, 'light'),
  ('black-alpha', $black-alpha, rgba($black, 0.5), rgba($black, 0.5), 'light'),
  ('gray', $gray, lighten($gray, 10%), darken($gray, 10%), 'light'),
  ('gray-50', $gray-50, lighten($gray-50, 10%), darken($gray-50, 10%), 'dark'),
  ('gray-100', $gray-100, lighten($gray-100, 10%), darken($gray-100, 10%), 'dark'),
  ('gray-200', $gray-200, lighten($gray-200, 10%), darken($gray-200, 10%), 'dark'),
  ('gray-300', $gray-300, lighten($gray-300, 10%), darken($gray-300, 10%), 'dark'),
  ('gray-400', $gray-400, lighten($gray-400, 10%), darken($gray-400, 10%), 'dark'),
  ('gray-500', $gray-500, lighten($gray-500, 10%), darken($gray-500, 10%), 'light'),
  ('gray-600', $gray-600, lighten($gray-600, 10%), darken($gray-600, 10%), 'light'),
  ('gray-700', $gray-700, lighten($gray-700, 10%), darken($gray-700, 10%), 'light'),
  ('gray-800', $gray-800, lighten($gray-800, 10%), darken($gray-800, 10%), 'light'),
  ('gray-900', $gray-900, lighten($gray-900, 10%), darken($gray-900, 10%), 'light'),
  ('gray-cool', $gray-cool, lighten($gray-cool, 10%), darken($gray-cool, 10%), 'dark'),
  ('gray-warm', $gray-warm, lighten($gray-warm, 10%), darken($gray-warm, 10%), 'light'),
  ('gray-warm-light', $gray-warm-light, lighten($gray-warm-light, 10%), darken($gray-warm-light, 10%), 'dark'),
  ('red', $red, lighten($red, 4%), darken($red, 5%), 'light'),
  ('red-dark', $red-dark, lighten($red-dark, 4%), darken($red-dark, 5%), 'light'),
  ('red-light', $red-light, lighten($red-light, 4%), darken($red-light, 5%), 'dark'),
  ('orange', $orange, lighten($orange, 5%), darken($orange, 5%), 'light'),
  ('yellow', $yellow, lighten($yellow, 10%), darken($yellow, 5%), 'dark'),
  ('green', $green, lighten($green, 5%), darken($green, 5%), 'dark'),
  ('teal', $teal, lighten($teal, 5%), darken($teal, 5%), 'dark'),
  ('blue', $blue, lighten($blue, 5%), darken($blue, 5%), 'light'),
  ('blue-dark', $blue-dark, darken($blue-dark, 5%), darken($blue-dark, 10%), 'light'),
  ('blue-light', $blue-light, darken($blue-light, 5%), darken($blue-light, 10%), 'dark'),
  ('purple', $purple, lighten($purple, 5%), darken($purple, 5%), 'light'),
  ('beige', $beige, lighten($beige, 5%), darken($beige, 5%), 'dark'),
  ('gold', $gold, lighten($gold, 5%), darken($gold, 5%), 'light')
) !default;
