// Variables
// Typography


// Families
$type-sans: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$type-serif: "Baskerville", Georgia, "Times New Roman", Times, serif !default;
$type-mono: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

// Weight
$type-light:    300 !default;
$type-regular:  400 !default;
$type-bold:     700 !default;
$type-black:    900 !default;

// Base and Responsive sizing/properties
$fs-xs:   0.76rem   !default;
$fs-sm:   0.88rem   !default;
$fs-root: 1.00rem   !default;
$fs-d1:   1.24rem   !default;
$fs-d2:   1.375rem  !default;
$fs-d3:   1.80rem   !default;
$fs-d4:   2.66rem   !default;
$fs-d5:   3.00rem   !default;
$fs-d6:   3.75rem   !default;
$fs-d7:   4.50rem   !default;

// color bases
$type-color:        $gray-800 !default;
$type-color-alpha:  rgba($black, 0.85) !default;
$type-link:         $red !default;

// Letter Spacing
$letter-spacing-tight: -.05em !default;
$letter-spacing-loose: .25em !default;

// Line Height
$line-height-tight: 1.25 !default;
$line-height-normal: 1.5 !default;
$line-height-loose: 1.6 !default;

// Measure
$measure: 40em !default;
$measure-narrow: 20em !default;
$measure-wide: 50em !default;

// List Unstyled
%list_unstyled {
  padding-left: 0;
  list-style: none;
}
