// Global Methods
// Layout


@mixin make-section($container: "default", $gutters: $gutters, $contain: $contain-width) {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;

  @each $breakpoint in map-keys($gutters) {
    @include mqbp-up($breakpoint) {
      $gutter: map-get($gutters, $breakpoint);
      @if ($container == "full") {
        @if ($breakpoint == "t" or $breakpoint == "d" or $breakpoint == "w") {
          padding-right: $gutter;
          padding-left: $gutter;
        }
      } @else if ($container == "contain") {
        @if ($breakpoint == "t") {
          padding-right: $contain;
          padding-left: $contain;
        }
      } @else {
        @if ($breakpoint == "t" or $breakpoint == "d" or $breakpoint == "w") {
          padding-right: ($gutter * 2);
          padding-left: ($gutter * 2);
        } @else {
          padding-right: $gutter;
          padding-left: $gutter;
        }
      }
    }
  }
}

@mixin make-gutters($gutters: $gutters) {
  @each $breakpoint in map-keys($gutters) {
    @include mqbp-up($breakpoint) {
      $gutter: map-get($gutters, $breakpoint);
      padding-right: ($gutter / 2);
      padding-left:  ($gutter / 2);
    }
  }
}

@mixin make-row($gutters: $gutters) {
  margin-right: -0.5rem;
  margin-left: -0.5rem;

  @each $breakpoint in map-keys($gutters) {
    @include mqbp-up($breakpoint) {
      $gutter: map-get($gutters, $breakpoint);
      margin-right: ($gutter / -2);
      margin-left:  ($gutter / -2);
    }
  }
}
