// Typography Utility
// Lists
//
// .ls--<style>


.ls--none {
  padding-left: 0;
  list-style: none;

  li,
  .__item {
    padding-top: .25rem;
    margin-bottom: .25rem;
  }
}

.ls--inline {
  padding-left: 0;
  list-style: none;

  li,
  .__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}
