// Typography Utility
// Measure
//
// .measure--<length>


.measure          { max-width: $measure; }
.measure--wide    { max-width: $measure-wide; }
.measure--narrow  { max-width: $measure-narrow; }
