// Typography Utility
// Text Alignment
//
// .ta--<value>


.ta--l  { text-align: left !important; }
.ta--r  { text-align: right !important; }
.ta--c  { text-align: center !important; }

@each $breakpoint in map-keys($breakpoints) {
  @include mqbp-up($breakpoint) {
    .ta--l\@#{$breakpoint}  { text-align: left !important; }
    .ta--r\@#{$breakpoint}  { text-align: right !important; }
    .ta--c\@#{$breakpoint}  { text-align: center !important; }
  }
}
