// Baseline
// Document
//
// Reset + Normalize + Baseline elements/typography definitions in one.


html {
  height: 100%;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*:before,
*:after { box-sizing: border-box; }

@at-root {
  @-ms-viewport { width: device-width; }
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  overflow-x: hidden; // prevent longer words on xs from forcing an x-axis scroll
}

article,
aside,
footer,
header,
nav,
section { display: block; }


//
// Text-level semantics
a,
area,
button,
[role="button"],
input,
label,
select,
textarea { touch-action: manipulation; }


//
// Hidden
[hidden] { display: none !important; }
